.button {
    background-color: #D1D2D7;
    border: 1px solid black;
    font-size: 30px;
    padding-top: 22%;
    text-align: center;
}

.button:hover {
    transform: scale(1.1);
}

#b0, #b1, #b2 {
    background-color: #C9C9CA;
}

#b3, #b7, #b11, #b15, #b18 {
    background-color: #F98811;
}

#b16 {
    grid-column: 1 / span 2;
    padding-top: 11%;
}